#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

configure: configure-stamp
configure-stamp:
	dh_testdir
	touch $@

build: build-stamp
build-stamp:
	dh_testdir
	$(MAKE)
	touch $@

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp configure-stamp

	$(MAKE) clean
	dh_clean

install: build
	dh_testdir
	dh_testroot
	dh_prep
	$(MAKE) install PREFIX=$(CURDIR)/debian/libnatpmp0
	# Move the development files in its corresponding separate package folder.
	mkdir -p $(CURDIR)/debian/libnatpmp-dev/usr
	mv $(CURDIR)/debian/libnatpmp0/usr/include $(CURDIR)/debian/libnatpmp-dev/usr
	mkdir -p $(CURDIR)/debian/libnatpmp-dev/usr/lib
	mv $(CURDIR)/debian/libnatpmp0/usr/lib/libnatpmp.so $(CURDIR)/debian/libnatpmp-dev/usr/lib

binary-indep: build install

binary-arch: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs Changelog.txt
	dh_installdocs
	dh_installman
	dh_strip
	dh_compress
	dh_makeshlibs
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure
